<phpunit bootstrap="./tests/phpunit.php"
		 color="true"
		 convertErrorsToExeceptions="true"
		 convertNoticesToExceptions="true"
		 convertWarningsToExceptions="true"
		 stopOnFailures="false"
		 syntaxCheck="false"
	>
	<testsuites>
		<testsuite name="unit">
			<directory>tests</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist>
			<directory>./src</directory>
		</whitelist>
		<blacklist>
			<directory>vendor</directory>
		</blacklist>
	</filter>
</phpunit>